@model IEnumerable<cms.Models.Person>

@{
    ViewData["Title"] = "Person Database";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                City
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Portrait)
            </th> -->
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(item.Status >= PersonStatus.VIP ? "emphasize" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <!-- @Html.DisplayFor(modelItem => item.City.CityName) -->
                @item.City.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <!-- <td>
                @Html.DisplayFor(modelItem => item.Portrait)
            </td> -->
            <td>
                <div class="d-inline-block">
                    @if ((await AuthorizationService.AuthorizeAsync(
                        User, item,
                        PersonOperations.Update)).Succeeded)
                    {
                        <span><a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |</span>
                    }
                    <span><a asp-action="Details" asp-route-id="@item.PersonId">Details</a></span>
                    @if ((await AuthorizationService.AuthorizeAsync(
                     User, item,
                     PersonOperations.Update)).Succeeded)
                    {
                        <span> |
                        <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a></span>
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>